/* Start Root  */

/* End Root  */

/* Start Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}
.main-head{
    margin: 0;
    font-family: inherit;
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-head span{
    color: orange;
}
.btn{
    display: inline-block;
    width: 180px;
    height: 55px;
    border: none;
    outline: none;
    background-color: #EE580F;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    line-height: 50px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: #15CFE5;
}

/* End Global Rules */

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* Start header */
header{
    background: linear-gradient(to right, #2a5298, #1e3c72);
    display: flex;
    overflow-x: hidden;
}
.logo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 0.5s forwards;
}
nav{
    width: 65%;
    position: relative;
    
}
nav .icon{
    background-color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    position: relative;
}
nav .icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    border: 30px solid;
    border-color: white white transparent transparent;

}
nav .icon i{
    display: inline-block;
    font-size: 18px;
    color: #2a5298;
    margin-right: 50px;
    animation: nav 0.5s forwards;
}
nav .icon i span{
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #777;
}
nav ul{
    display: flex;
    margin-left: 220px;
    position: relative;
    
}
nav ul li{
    list-style: none;
    padding: 20px 25px;
    transform: translateX(1000%);
    animation: slide-nav 0.5s forwards;
}
nav ul li:nth-child(1){animation-delay: 0.3s;}
nav ul li:nth-child(2){animation-delay: 0.6s;}
nav ul li:nth-child(3){animation-delay: 0.8s;}
nav ul li:nth-child(4){animation-delay: 1.0s;}
nav ul li:nth-child(5){animation-delay: 1.3s;}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 19px;
    font-family: inherit;
    position: relative;
}
nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #EF6D6D;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
nav ul li a:hover::after{
    transform-origin: left;
    transform: scale(1);
}
nav ul .closed{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 25px;
    display: none;
}
nav .bars{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 25px;
    display: none;
}
#check{
    display: none;
}

@keyframes slide{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes nav{
    from{
        transform: translateX(1000%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-nav{
    from{
        transform: translateX(1000%);
    }
    to{
        transform: translateX(0);
    }
}

@media (max-width: 767px){
    .container{
        padding: 0 10px;
    }
    header{
        display: block;
        height: 110px;
    }
    .logo{
        width: 100%;
        margin-top: 15px;
    }
    nav{
        width: 100%;
    }
    nav .icon{
        display: none;
    }
    nav ul{
        display: block;
        position: fixed;
        width: 100%;
        top: 110px;
        margin-left: 0;
        text-align: center;
        background-color: cadetblue;
        height: 100vh;
        transform: translateX(100%);
        z-index: 999;
        transition: all 0.3s ease;
    }
    nav .bars{
        display: block;
    }
    nav ul .closed{
        display: block;
    }
    #check:checked ~ nav .bars{
        display: none;
    }
    #check:checked ~ nav ul{
        transform: translateX(0);
    }
}

@media (min-width:769px) and (max-width:1199px){
    .container{
        padding: 0 10px;
    }
   header{
       height: 100px;
   }
    nav .icon{
        display: none;
    }
    nav ul{
        justify-content: center;
        align-items: center;
        margin-left: 0;
        height: 100%;
    }
}
/* End header */

/* Start landing */
.landing{
    background-image: url(../images/bk.jpg);
    background-size: cover;
    height: calc(100vh - 122px);
    position: relative;
}
.landing-text{
    text-align: center;
    height: 375px;
    width: 70%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.landing .catalog{
    background-color: white;
    width: 100%;
    height: 237px;
    margin-top: 50px;
    position: relative;
    
}
.landing .catalog::before{
    content: "Find Your Tour";
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    padding: 15px 30px;
    position: absolute;
    top: -50px;
    left: 0;
    color: #1e3c72;
    background-color: white;
}
.landing .catalog .catalog-text{
    padding-top: 20px;
    padding-left: 20px;
    width: 25%;
    display: inline-block;
}
.landing .catalog .catalog-text label{
    display: block;
    font-size: 16px;
    color: #777;
    padding-bottom: 10px;
}
.landing .catalog .catalog-text input,
.landing .catalog .catalog-text select{
    padding: 10px;
    font-size: 18px;
    outline: none;
    color: #000;
    opacity: 0.5;
    width: 100%;
}
.landing .catalog .btn{
    width: 200px;
    position: relative;
    bottom: 50px;
    left: 20px;
    width: 18%;
    border-radius: 0px;
}
@media (max-width:767px){
    .landing{
        height: 60%;
    }
    .landing-text{
        width: 81%;
        margin: auto;
        padding-top: 50px;
    }
    .main-head{
        font-size: 60px;
    }
    .btn{
        width: 140px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }
    .landing .catalog{
        display: none;
    }
}
@media (min-width:767px) and (max-width:991px){
    .main-head{
        font-size: 68px;
    }
    .landing-text{
        height: 325px;
    }
    .landing .catalog{
        margin-top: 0;
    }
}


/* End landing */

/* Start About */
.about{
    height: 100vh;
    position: relative;
}
.head{
    text-align: center;
    padding-top: 50px;
}
.head-text{
    font-size: 45px;
    font-family: inherit;
    font-weight: bolder;
    position: relative;
}
.head-text::before{
    content: "";
    width: 10%;
    height: 1px;
    background-color: green;
    position: absolute;
    top: 25px;
    left: 80px;
}
.head-text::after{
    content: "";
    width: 10%;
    height: 1px;
    background-color: green;
    position: absolute;
    top: 25px;
    right: 80px;
}
.p-text{
    margin-top: 20px;
    font-size: 19px;
    font-family: inherit;
}
.about-text{
    width: 90%;
    height: 100%;
    display: flex;
    margin-top: 120px;
    padding: 30px;
    border: 20px solid;
    border-image: linear-gradient(to right, #2a5298, #1e3c72) 20;
    position: relative;
}
.about-text p{
    width: 60%;
    font-size: 18px;
    line-height: 1.8;
    font-family: inherit;
    font-weight: 300;
}
.about-text .image{
    width: 40%; 
    position: absolute;
    top: -30%;
    right: 8%;
}
.about-btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
@media (max-width:1199px){
    .head-text{
        font-size: 30px;
    }
    .head-text::before,
    .head-text::after{
        display: none;
    }
    .about-text{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        
    }
    .about-text p{
        width: 100%;
    }
    .about-text .image{
        display: none;
    }
}

/* End About */

/* Start travel */
.travel-ctn{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 20px;
}
.travel-ctn .card{
    text-align: center;
}
.travel-ctn .card h3{
    margin-top: 15px;
    font-size: 22px;
}
.travel-ctn .card p{
    margin-top: 15px;
    font-size: 18px;
    padding: 0 10px;
}
.travel-ctn .card .btn{
    margin-top: 30px;
    width: 160px;
    height: 45px;
    line-height: 45px;
}
/* End travel */
/* Start weekend */
.weekend-image{
    width: 100%;
    height: 181px;
    background-image: url("../images/London.jpg");
    background-size: cover;
    
}
/* End weekend */

